.App {
    text-align: center;
}

h3 {
    text-align: center;
}

.johnny-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0;
    text-align: center;
}

.morten-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0 10px;
}

button {
    border: 0;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: lightblue;
}

h4 {
    text-align: center;
    font-size: 32px;
}

.aHrefButton {
    background-color: lightblue;
    object-fit: contain;
    width: 120px;
    border-radius: 20px;
    font-size: 14px;
    height: 35px;
}

.h2ProfileHeading {
    text-align: center;
}

.profileData {
    text-align: center;
    list-style-type: none;
}

.li {
    text-align: center;
    list-style-type: none;
    color: green;
    background-color: lightgray;
    margin: 0 50px;
    height: 35px;
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: 80%;
}

.li:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
    color: darkgreen;
}

.ul {
    padding: 25px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    column-gap: 10px;

}

h6 {
    text-align: center;
}

.profileData {
    text-align: center;
}
